modules = ["web", "python-3.12"]
run = "python3 -m http.server"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 -m http.server"]

[[ports]]
localPort = 8000
externalPort = 80
